
<title>ABOUT LPL PAINTERS INC</title>
<meta name="description" content="LPL PAINTERS INC. is owned by involved members of the Thunder Bay community, Leif Lennie and Adam Kates have over a decade of combined experience painting in Thunder Bay.">


<!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About LPL PAINTERS INC
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <%= image_tag("aboutpic1.jpg", :alt => "Lief and Adam", :class => "img-responsive well") %>
            </div>

            <div class="col-md-4">
                <h3><u>LEIF LENNIE AND ADAM KATES</u></h3>
                <p class="text-justify">Owners Leif and Adam have both lived in Thunder Bay for the past decade.  Priding themselves on being involved members of the local athletic and outdoor community, Leif and Adam both have high performance sport backgrounds as former members of the Canadian National Cross Country Ski Team (Adam) and National Ski Team Development Centre (Leif).  Retired from athletics, Adam and Leif retain close ties to the community by coaching a number of local kids and university sports teams.</p>
                <p class="text-justify">At LPL PAINTERS INC., we carry this sense of community forward into our work.  Having complete hundreds of residential, commercial and industrial paint jobs, our goal is to give new life to both interior and exterior spaces in Thunder Bay while offering great customer service.</p>

            </div>

        </div>
        <br/>
        <br/>