<div class="container">


        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contact Us
                    <small>Item Subheading</small>
                </h1>
                <div class="col-md-10">
                <p>Contact us to set up a free consultation and job estimate at a time that is right for you, or get in touch to ask us about a project you’re undertaking – we’d love to share our expertise. </p>
                <br/>
               
            </div>
            </div>
        </div>
        <!-- /.row -->



 <div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm text-center">
                <br/>
                <br/>
                <h2>Thank you for your message, we will get back to you as soon as possible. - LPL Painters</h2>
                <br/>
                <br/>
                
               
            </div>
        </div>
        <div class="col-md-4">
        
            <legend><i class="fa fa-globe" aria-hidden="true"></i>Get in Touch</legend>
            <address>
                <strong>LPL Painters, Inc.</strong><br>
                
                <abbr title="Phone">
                    P:</abbr>
                (807) 355-0497 (Adam)
                <br/>
                <abbr title="Phone">
                    P:</abbr>
                (807) 630-8328 (Leif) 
            </address>
            <address>
                <strong>Email</strong><br>
                <a href="mailto:#">first.last@example.com</a>
            </address>
            </form>
        </div>
    </div>
</div>
          
